<title>Events Attended</title>
{% extends "base.html" %}

{% block title %}Events Attended{% endblock title %}

{% block content %}
<br>
<div class="container">
<div class="row">
      {% for booking in bookings %}
    <div class="col-md-4">
        <div class="card my-card">
          <div class="card-body">
            <h5 class="card-title">{{booking.event.name}}</h5>
            <img class="card-img-top" height="200" src="{{booking.event.image.url}}">
            <p class="card-text">{{booking.event.description}}</p>
            <p class="card-text">{{booking.event.organizer}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'event-detail' booking.event.id %}" class="btn btn-outline-dark">View</a>
            </li>
          </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}