<title>Dashboard</title>
{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="text-center my-3">
  <div class="container">
    <h2><strong>My Events</strong></h2>
    {% include "event_list.html" %}
    {% if bookings %}
      <h2 class="font-italic"><strong>Events Booked</strong></h2>
      <div class="row">
          {% for booking in bookings %}
            {% include "event_card.html" with event=booking.event %}
          {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}