{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="container">
<div class="row">
      {% for event in events %}
          <div class="card-body">
            <h2 class="card-title">{{event.name}}</h2>
            <div class="image round fit">
            <img id="eventimg" class="center" height="600" src="{{event.image.url}}">
            </div>
            <p class="text-center">{{event.description}}</p>
            <p class="text-center">{{event.organizer}}</p>
            <div class="align-center">
            <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark" >View</a>
          </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
            </li>   
          </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}