<title>Dashboard</title>
{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}




<div class="card my-card text-center my-3">
  <br>
  <br>
<h2><strong> My Events </strong></h2>
<div class="container">
<div class="row">
    {% for event in events %}

    <div class="col-md-4">
        <div class="card my-card text-center my-3">
          <div class="card-body">
            <h3 class="card-title">{{event.name}}</h3>
            <div class="image round fit">
            <img id="eventimg" class="card-img-top" height="200" src="{{event.image.url}}">
            </div>
            <p class="card-text">{{event.description}}</p>
            <h5 class="card-text"><i class="far fa-user-circle"></i> {{event.organizer}}</h5>
            <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">View</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
</br>
</br>
</br>
</br>
</br>
</br>
<h2><strong> Events Attended </strong></h2>
<div class="container">
<div class="row">
    {% for booking in bookings %}
    <div class="col-md-4">
        <div class="card my-card text-center my-3">
          <div class="card-body">
            <h3 class="card-title">{{booking.event.name}}</h3>
            <div class="image round fit">
            <img id="eventimg" class="card-img-top" height="200" src="{{booking.event.image.url}}">
            </div>
            <p class="card-text">{{booking.event.description}}</p>
            <h5 class="card-text"><i class="far fa-user-circle"></i> {{booking.event.organizer}}</h5>
            <a href="{% url 'event-detail' booking.event.id %}" class="btn btn-outline-dark">View</a>
          </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}