{% extends "base.html" %}

{% load static %}

{% block title %}Homepage{% endblock title %}

{% block content %}
<!-- <head>
		<title>ZINC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head> -->
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"> ZINC . . .  <span>events made easy</span></div>
			</header>

		<!-- Banner -->
			<section class="banner half">
				<article>
					<img src="{% static 'images/genz4.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<h2>ZINC</h2>
							<p>Innovation at its finest</p>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/passion.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<h2>ZAIN KUWAIT</h2>
							<p>Passion, innovation, resilience</p>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/room.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<h2>THE MEETING POINT</h2>
							<p>The perfect spot</p>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/tv.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<h2>DISPLAY ROOM</h2>
							<p>Events, talks, & enlightenment</p>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/table.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<h2>TABLE TALK</h2>
							<p>Join the discussion, get inspired</p>
						</header>
					</div>
				</article>
			</section>

<br>
<div class="container">
	{% include "event_list.html" %}
</div>
{% endblock content %}

