<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'event-list' %}">Events</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
        {% if request.user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user-register' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-login' %}">Login</a>
              </li>

              <li class="nav-item">
                    <a class="nav-link" href="/accounts/google/login">Login with Google</a>
              </li>


        {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'event-list' %}">My Events</></a>
                  </li>
                    <span class="nav-link disabled" href="#">Welcome, {{request.user}}.</span>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-logout' %}">Logout</a>
                  </li>
        {% endif %}
            </ul>

    <form class="form-inline my-2 my-lg-0" action="{% url 'event-list' %}">
      <input class="form-control mr-sm-2" type="text" name='q' placeholder="Search" value="{{request.GET.q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

        </div>
      </nav>
